@model CompanySite
<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header">
                <a class="btn btn-sm btn-icon btn-light" asp-action="Index" asp-controller="Company" >
                    <i class="fa fa-arrow-left"></i>
                </a>
                <i class="fa fa-store-alt mx-2"></i><b>Add a New Site For @ViewBag.Company.CompanyName</b>
            </div>
            <div class="card-body">
                <form asp-action="InsertSite" method="POST" class="row">
                    <input type="hidden" asp-for="CompanyFK" value="@ViewBag.Company.Id">
                    <div class="form-group col-12">
                        <label for="">Site Name:</label>
                        <input type="text" class="form-control form-control-solid" asp-for="SiteName">
                    </div>
                    <div class="form-group col-6">
                        <label for="">State:</label>
                        <input type="text" class="form-control form-control-solid" asp-for="State">
                    </div>
                    <div class="form-group col-6">
                        <label for="">City:</label>
                        <input type="text" class="form-control form-control-solid" asp-for="City">
                    </div>
                    <div class="form-group col-12">
                        <label for="">Address:</label>
                        <input type="text" class="form-control form-control-solid" asp-for="Address">
                    </div>
                    <div class="form-group col-4">
                        <label for="">Postal Code:</label>
                        <input type="text" class="form-control form-control-solid" asp-for="PostalCode">
                    </div>
                    <div class="form-group col-4">
                        <label for="">Contact:</label>
                        <input type="text" class="form-control form-control-solid" asp-for="Contact">
                    </div>
                    <div class="form-group col-4">
                        <label for="">Phone:</label>
                        <input type="text" class="form-control form-control-solid" asp-for="Phone">
                    </div>
                    <div class="form-group col-12 mt-3">
                        <button type="submit" class="btn btn-success rounded-pill">Save New Site</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="row">

            @foreach (CompanySite site in ViewBag.Sites)
            {
                <div class="col-12 mb-3">
                    <div class="card card-icon">
                        <div class="row no-gutters">
                            <div class="col-auto card-icon-aside bg-pink">
                                <i class="fa fa-store-alt text-white"></i>
                            </div>
                            <div class="col">
                                <div class="card-body">
                                    <h5 class="card-title">@site.SiteName</h5>
                                    <hr>
                                    <b >@site.State | @site.City</b>
                                    <p class="text-body small mb-0">@site.Address</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>

        
    </div>
</div>